include ./partials/table.pug
html 
    head 
    body 
        h1= order["Номер заказа"] 
        p Информация о заказе
        ul 
            li <b>Приоритет заказа</b> !{order["Приоритет заказа"]}
            li <b>Способ доставки</b> !{order["Способ доставки"]}

        p Информация о клиенте
        ul 
            li <b>Номер клиента</b> !{user["Номер клиента"]}
            li <b>Имя клиента</b> !{user["Имя клиента"]}
        button(onclick=`location.href = "/user/${user._id}";`) подробнее 
        
        p Информация о локациии
        ul 
            li <b>Город</b> !{location["Город"]}
            li <b>Область</b> !{location["Область"]}
            li <b>Cтрана</b> !{location["Cтрана"]}

        p Информация о локациии
        ul 
            li <b>Номер продукта</b> !{product["Номер продукта"]}
            li <b>Категория</b> !{product["Категория"]}
            li <b>Наименование продукта</b> !{product["Наименование продукта"]}