html
    head
        style
            include ./page.css
    body
        h2 Записи !{f}-!{t} из !{s}
        table
            tr
                each key in k
                    th= key
            each obj in d
                tr
                    each key in k
                        td= obj[key]

        button#prev prev
        if shownext
            button#next next
        else
            button#next(style="display : none;") do not press me
       

        h2 Сменить таблицу

        button#btorder Заказы
        button#btclient Клиенты
        button#btlocation Адреса
        button#btproduct Продукты
        

        script 
            include ./page.js